@using ApplicationCore.Entities;
@using Microsoft.Extensions.Primitives;
@model List<Catergory>
@{

}
<form asp-action="Query" asp-controller="Home" method="get">
    <label>Keyword</label>
    @if (Context.Request.Query.Where(x => x.Key == "keyword") != null)
    {
        var keyword = Context.Request.Query["keyword"];
        <input type="text" class="field" name="keyword" value="@keyword" />
    }
    else
    {
        <input type="text" class="field" name="keyword" />

    }
    <label>Category</label>
    <select class="field" name="catergoryId">
        <option value="">-- Select Category --</option>
        @if (Context.Request.Query["catergoryId"] != StringValues.Empty)
        {
            @* <div>GHellpo</div> *@
            var catergoryId = Context.Request.Query["catergoryId"];
            var catergory = Model.FirstOrDefault(x => x.ID.ToString() == catergoryId);
            <option selected value="@catergory.ID">@catergory.Name</option>
        }
        @foreach (var item in Model)
        {
            <option value=@item.ID>@item.Name</option>
        }
    </select>
    <div class="inline-field">
        <label>Price</label>
        <select class="field small-field">
            <option value="">$10</option>
        </select>
        <label>to:</label>
        <select class="field small-field">
            <option value="">$50</option>
        </select>
    </div>
    <input type="submit" class="search-submit" value="Search" />
    <p>
        <a href="#" class="bul">Advanced search</a><br />
        <a href="#" class="bul">Contact Customer Support</a>
    </p>
</form>