@model ApplicationCore.Entities.AppUser;
@{
    Layout = "~/Views/Shared/_CenterLayout.cshtml";
}
<div class="m-3 row d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <h1>Hello 👋 @Model.UserName </h1>
        <h2>Email : @Model.Email</h2>
        <div class="d-flex justify-content-between">
            <a asp-controller="Home" asp-action="Index">Go back to Home</a>
            <form class="form-inline" asp-controller="User" asp-action="Logout"
                asp-route-returnUrl="@Url.Action("Index","Home")" method="post">
                <button type="submit" class="nav-link btn btn-link">Click here to Logout</button>
            </form>
        </div>

    </div>
</div>